.header{
    display: flex;
    align-items: center;

    a{
        display: block;
        align-items: center;
        text-decoration: none;

        img{
            width: 130%
        }
    }
    .logo{
        max-height: 32px;
    }

    .grupo-titulo{
        padding-left: 90px;
        i{
            padding-right: 5px;
        }
    }
}
