.menu{
    background-color: #697df0;
    width: 200px;

    .lista{
        a{
            color: #fff !important;

            i{
                padding: 0 10px 0 0;
            }
        }
    }
    
}

.conteudo{
    padding: 16px; 
    background-color: #fff;
}